*{
	margin: 0;
	padding: 0;
}

html,body{
	height: 100%;
	width: 100%;
	position: relative;
}

/*-------------------电脑端样式-----------------------*/
@media screen and (min-width: 960px) {
	
 #body{
	width: 40%;
	margin: 0 auto;
	height: 780px;
	background: url(../img/back.png);
	background-size: cover;
}

#head{
	width: 100%;
	height: 60px;
	background-color:#D0D0D0 ;
	opacity: 0.8;
	border: 1px solid #D0D0D0;
}
#head div{
	float: left;
}

#head #return{
	width: 13%;
	height: 30px;
	margin-top: 2%;
}

#head #return a{
	text-decoration: none; 
	text-align: center; 
	font-size: 40px; 
	font-weight: bold; 
	width: 40px; 
	height: 40px;  
	z-index: 2; 
	color: #3C3C3C;
	position: relative;
	left: 20%;
}

#head #span{
	height: 60%;
	width: 70%;
	margin-top: 3%;
}
 
 #left_div{
 	width: 23%;
 	height: 110px;
 	float: left;
 	margin-top: 2%;
 }
  
  #left_div img{
  	width: 100%;
  	height: 100%;
  }
  
  #right_div{
  	width: 74%;
 	height: 670px;
 	margin-top: 2%;
 	float: right;
  }
  
  #right_div #top{
  	width: 90%;
  	 margin-left:5%;
      margin-top: 2%;
  }
  
  #right_div #top #href{
  	width: 90%;
  	height: 20px;
  	margin-left: 1%;
  	font-size: 12px;
  }
  
  #right_div #top #href a{
  	text-decoration: none;
  }
  
  #right_div #top table{
      width: 100%;
      height: 80px;
  	  border-collapse: collapse;
  }
  
  #right_div #top table td{
  	border-bottom: 1px dashed black;
  	width: 50%;
  	height: 10%;
  }
  
  
  #right_div #XU{
  	width: 90%;
  	padding-top: 3px;
  	margin-top: 1%;
  	margin-left: 5%;
  	padding-bottom: 2px;
  }
  
  #right_div #XU div{
  	margin: 1% auto;
  	border: none;
  	outline: none;
  	resize: none;
  	overflow: hidden;
  	word-break:break-word;
  	border:1px solid #A9A9A9;
  }
  
 ul,li,dl,ol{list-style:none;}
.list_lh li{ padding:5px;}
.list_lh li p{ height:18px;}

#book_select{
	width: 91%;
	height: 15%;
	margin: 2% auto;
}

#book_select table{
	width: 100%;
	height: 100%;
	background-color: white;
	border-collapse: collapse;
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
	border-top: 1px solid #808080;
}

#book_select table td{
	border-bottom: 1px solid #808080;
}

#interest{
	width: 90%;
	height: 15%;
	margin: 2% auto;
	border: 1px solid #808080;
	background-color: white;
}

#interest #label{
	width: 100%;
	height: 15%;
	border-bottom: 1px solid #808080;
}

#interest ul,li{
	list-style: none;
}

#interest ul{
	width: 100%;
	height: 85%;
}

#interest ul li{
	width: 20%;
	height: 80%;
	float: left;
	margin-left: 3%;
	margin-top: 2%;
}

#interest ul li img{
	width: 100%;
	height: 70%;
	border: none;
}

#interest ul li p{
	font-size: 6px;
}

}




/*-------------------手机端样式-----------------------*/
@media screen and (max-width: 960px) {
	
 #body{
	width: 100%;
	height: 780px;
	background: url(../img/back.png);
	background-size: cover;
}

#head{
	width: 100%;
	height: 60px;
	background-color:#D0D0D0 ;
	opacity: 0.8;
	border: 1px solid #D0D0D0;
}
#head div{
	float: left;
}

#head #return{
	width: 13%;
	height: 30px;
	margin-top: 2%;
}

#head #return a{
	text-decoration: none; 
	text-align: center; 
	font-size: 40px; 
	font-weight: bold; 
	width: 40px; 
	height: 40px;  
	z-index: 2; 
	color: #3C3C3C;
	position: relative;
	left: 20%;
}

#head #span{
	height: 60%;
	width: 70%;
	margin-top: 3%;
}
 
 #left_div{
 	width: 23%;
 	height: 110px;
 	float: left;
 	margin-top: 2%;
 }
  
  #left_div img{
  	width: 100%;
  	height: 100%;
  }
  
  #right_div{
  	width: 74%;
 	height: 670px;
 	margin-top: 2%;
 	float: right;
  }
  
  #right_div #top{
  	width: 90%;
  	 margin-left:5%;
      margin-top: 2%;
  }
  
  #right_div #top #href{
  	width: 90%;
  	height: 20px;
  	margin-left: 1%;
  	font-size: 12px;
  }
  
  #right_div #top #href a{
  	text-decoration: none;
  }
  
  #right_div #top table{
      width: 100%;
      height: 80px;
  	  border-collapse: collapse;
  }
  
  #right_div #top table td{
  	border-bottom: 1px dashed black;
  	width: 50%;
  	height: 10%;
  }
  
  
  #right_div #XU{
  	width: 90%;
  	padding-top: 3px;
  	margin-top: 1%;
  	margin-left: 5%;
  	padding-bottom: 2px;
  }
  
  #right_div #XU div{
  	margin: 1% auto;
  	border: none;
  	outline: none;
  	resize: none;
  	overflow: hidden;
  	word-break:break-word;
  	border:1px solid #A9A9A9;
  }
  
 ul,li,dl,ol{list-style:none;}
.list_lh li{ padding:5px;}
.list_lh li p{ height:18px;}

#book_select{
	width: 91%;
	height: 15%;
	margin: 2% auto;
}

#book_select table{
	width: 100%;
	height: 100%;
	background-color: white;
	border-collapse: collapse;
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
	border-top: 1px solid #808080;
}

#book_select table td{
	border-bottom: 1px solid #808080;
}

#interest{
	width: 90%;
	height: 15%;
	margin: 2% auto;
	border: 1px solid #808080;
	background-color: white;
}

#interest #label{
	width: 100%;
	height: 15%;
	border-bottom: 1px solid #808080;
}

#interest ul,li{
	list-style: none;
}

#interest ul{
	width: 100%;
	height: 85%;
}

#interest ul li{
	width: 20%;
	height: 80%;
	float: left;
	margin-left: 3%;
	margin-top: 2%;
}

#interest ul li img{
	width: 100%;
	height: 70%;
	border: none;
}

#interest ul li p{
	font-size: 6px;
}

}