*{
	margin: 0;
	padding: 0;
}

html,body{
	height: 100%;
	width: 100%;
	position: relative;
}

/*-------------------手机端样式-----------------------*/
@media screen and (max-width: 960px) {
	#body{
	width: 100%;
	margin: 0 auto;
	background-size: cover;
}

#head{
	width: 100%;
	height: 45px;
	background-color:#D0D0D0 ;
	opacity: 0.8;
	border: 1px solid #D0D0D0;
}
#head div{
	float: left;
}

#head #return{
	width: 6%;
	height: 20px;
	margin-left: 2%;
	margin-top: 3.5%;
}

#head #return img{
	height: 100%;
	width: 100%;
}

#head #span{
	height: 60%;
	width: 30%;
	margin-top: 3.5%;
	margin-left: 28%;
	color: white;
}

#textarea{
	width: 80%;
	height: 100px;
	margin: 20px auto;
}

#textarea textarea{
	width: 100%;
	height: 100%;
	outline: none;
	resize: none;
	font-size: 15px;
}

#button{
	width: 25%;
	height: 40px;
	margin-left: 60%;
	margin-top: 50px;
}

#button button{
	width: 100%;
	height: 100%;
    border-radius: 10px;
    border: 2px solid;
    font: 16px 'Open Sans', sans-serif;
    background: none;
    outline: none;
    cursor: pointer;
    color: #A9A9A9;
    border-color: ##A9A9A9;
}

}

/*-------------------电脑端样式-----------------------*/
@media screen and (min-width: 960px) {
	#body{
	width: 40%;
	margin: 0 auto;
	background-size: cover;
}

#head{
	width: 100%;
	height: 45px;
	background-color:#D0D0D0 ;
	opacity: 0.8;
	border: 1px solid #D0D0D0;
}
#head div{
	float: left;
}

#head #return{
	width: 6%;
	height: 20px;
	margin-left: 2%;
	margin-top: 2%;
}

#head #return img{
	height: 100%;
	width: 100%;
}

#head #span{
	height: 60%;
	width: 30%;
	margin-top: 2%;
	margin-left: 28%;
	color: white;
}

#textarea{
	width: 80%;
	height: 100px;
	margin: 20px auto;
}

#textarea textarea{
	width: 100%;
	height: 100%;
	outline: none;
	resize: none;
	font-size: 15px;
}

#button{
	width: 25%;
	height: 40px;
	margin-left: 60%;
	margin-top: 50px;
}

#button button{
	width: 100%;
	height: 100%;
    border-radius: 10px;
    border: 2px solid;
    font: 16px 'Open Sans', sans-serif;
    background: none;
    outline: none;
    cursor: pointer;
    color: #A9A9A9;
    border-color: ##A9A9A9;
}
}