*{
	margin: 0;
	padding: 0;
}

html,body{
	width: 100%;
	position: absolute;
}


/*---------------------手机端样式----------------------*/
@media screen and (max-width: 960px) {
#head{
	width: 100%;
	height: 45px;
	background-color:#D0D0D0 ;
	opacity: 0.8;
	border: 1px solid #D0D0D0;
	margin: 0 auto;
}
#head div{
	float: left;
}

#head #return{
	width: 6%;
	height: 20px;
	margin-left: 2%;
	margin-top: 3%;
}

#head #return img{
	height: 100%;
	width: 100%;
}

#head #span{
	height: 60%;
	width: 30%;
	margin-top: 3%;
	margin-left: 5%;
	color: white;
}

#title{
	width: 94%;
	height: 40px;
	margin: 10px 3%;
	border-bottom: 1px solid #A9A9A9;
}

#title input{
	height: 100%;
	width: 100%;
	outline: none;
	font-size: 15px;
	border: none;
}

#content{
	width: 94%;
	height: 80px;
	margin: 0 3%;
}

#content textarea{
	width: 100%;
	height: 100%;
	resize: none;
	outline: none;
	border: none;
	font-size: 17px;
}

#book-add{
	width: 100%;
	overflow: hidden;
}

#book-add .book{
	width: 94%;
	height:120px;
	margin: 10px 3% 0;
	border-top: 1px solid #808080;
}

#book-add .book #image{
	width: 10%;
	height: 40%;
	margin: 3% 0 0 2%;
	float: left;
}

#book-add .book #image img{
	width: 100%;
	height: 100%;
}

#book-add .book #book_name{
	width: 80%;
	height: 40%;
	margin: 3% 0 0 15%;
	font-size: 18px;
	border: 1px solid white;
}

#book-add .book #book_name .delete{
	width: 8%;
	height: 40%;
	margin-left: 90%;
	text-align: center;
	opacity: 0.5;
}

#book-add .book .book_text{
	width: 95%;
	height: 35%;
	margin: 2% 0 0 2%;
	border: 1px solid #808080;
}

#book-add .book .book_text textarea{
	width: 100%;
	height: 100%;
	resize: none;
	outline: none;
	border: none;
}

#add{
	width: 90%;
	height: 50px;
	border: 1px dotted #A9A9A9;
	margin: 10px 4%;
	text-align: center;
}

#block{
	width: 100%;
	height:50px ;
}

#send{
	width: 100%;
	height: 45px;
	background-color: forestgreen;
	opacity: 0.8;
	position: fixed;
	bottom: 0px;
	text-align: center;
	color: white;
}


#book-seach{
	width: 100%;
	height: 35px;
	margin-top: 5px;
}

#book-seach input{
	height: 30px;
	width: 72%;
	outline: none;
	border-radius: 5px;
	margin-left: 5%;
}

#book-seach button{
	height: 30px;
	width: 15%;
	outline: none;
	border: none;
	color: white;
	background-color: forestgreen;
	border-radius: 10px;
}

#book-list{
	width: 100%;
	margin-top: 10px;
	border: 1px solid white;
}

#book-list .book-li{
	width: 90%;
	height: 80px;
	border-top: 1px solid #A9A9A9;
	margin: 10px auto 0;
}

#book-list .book-li ul{
	width: 100%;
	height: 100%;
	list-style: none;
	
}

#book-list .book-li ul li{
	float: left;
}

#book-list .book-li ul .image{
	width: 15%;
	height: 60px;
	margin: 5px 0 0 5%;
}

#book-list .book-li ul .name{
	width: 45%;
	height: 20px;
	margin: 5px 0 0 3%;
	font-size: 15px;
}

#book-list .book-li ul .add-button{
	width: 18%;
	border: 1px solid green;
	border-radius: 15px;
	margin: 23px 0 0 10%;
	text-align: center;
	padding: 8px 0 8px 0;
	color: green;
}

#last-level{
	width: 100%;
	height: 45px;
	background-color: forestgreen;
	opacity: 0.8;
	position: fixed;
	bottom: 0px;
	text-align: center;
	color: white;
}
}

/*---------------------电脑端样式----------------------*/
@media screen and (min-width: 960px) {
#read,#booksearch{
	width: 40%;
	margin: 0 auto;
}
#head{
	width: 100%;
	height: 45px;
	background-color:#D0D0D0 ;
	opacity: 0.8;
	border: 1px solid #D0D0D0;
	margin: 0 auto;
}
#head div{
	float: left;
}

#head #return{
	width: 6%;
	height: 20px;
	margin-left: 2%;
	margin-top: 3%;
}

#head #return img{
	height: 100%;
	width: 100%;
}

#head #span{
	height: 60%;
	width: 30%;
	margin-top: 3%;
	margin-left: 5%;
	color: white;
}

#title{
	width: 94%;
	height: 40px;
	margin: 10px 3%;
	border-bottom: 1px solid #A9A9A9;
}

#title input{
	height: 100%;
	width: 100%;
	outline: none;
	font-size: 15px;
	border: none;
}

#content{
	width: 94%;
	height: 80px;
	margin: 0 3%;
}

#content textarea{
	width: 100%;
	height: 100%;
	resize: none;
	outline: none;
	border: none;
	font-size: 17px;
}

#book-add{
	width: 100%;
	overflow: hidden;
}

#book-add .book{
	width: 94%;
	height:120px;
	margin: 10px 3% 0;
	border-top: 1px solid #808080;
}

#book-add .book #image{
	width: 10%;
	height: 40%;
	margin: 3% 0 0 2%;
	float: left;
}

#book-add .book #image img{
	width: 100%;
	height: 100%;
}

#book-add .book #book_name{
	width: 80%;
	height: 40%;
	margin: 3% 0 0 15%;
	font-size: 18px;
	border: 1px solid white;
}

#book-add .book #book_name .delete{
	width: 8%;
	height: 40%;
	margin-left: 90%;
	text-align: center;
	opacity: 0.5;
}

#book-add .book .book_text{
	width: 95%;
	height: 35%;
	margin: 2% 0 0 2%;
	border: 1px solid #808080;
}

#book-add .book .book_text textarea{
	width: 100%;
	height: 100%;
	resize: none;
	outline: none;
	border: none;
}

#add{
	width: 90%;
	height: 50px;
	border: 1px dotted #A9A9A9;
	margin: 10px 4%;
	text-align: center;
}

#block{
	width: 100%;
	height:50px ;
}

#send{
	width: 40%;
	height: 45px;
	background-color: forestgreen;
	opacity: 0.8;
	position: fixed;
	bottom: 0px;
	text-align: center;
	color: white;
}


#book-seach{
	width: 100%;
	height: 35px;
	margin-top: 5px;
}

#book-seach input{
	height: 30px;
	width: 72%;
	outline: none;
	border-radius: 5px;
	margin-left: 5%;
}

#book-seach button{
	height: 30px;
	width: 15%;
	outline: none;
	border: none;
	color: white;
	background-color: forestgreen;
	border-radius: 10px;
}

#book-list{
	width: 100%;
	margin-top: 10px;
	border: 1px solid white;
}

#book-list .book-li{
	width: 90%;
	height: 80px;
	border-top: 1px solid #A9A9A9;
	margin: 10px auto 0;
}

#book-list .book-li ul{
	width: 100%;
	height: 100%;
	list-style: none;
	
}

#book-list .book-li ul li{
	float: left;
}

#book-list .book-li ul .image{
	width: 15%;
	height: 60px;
	margin: 5px 0 0 5%;
}

#book-list .book-li ul .name{
	width: 45%;
	height: 20px;
	margin: 5px 0 0 3%;
	font-size: 15px;
}

#book-list .book-li ul .add-button{
	width: 18%;
	border: 1px solid green;
	border-radius: 15px;
	margin: 23px 0 0 10%;
	text-align: center;
	padding: 8px 0 8px 0;
	color: green;
}

#last-level{
	width: 40%;
	height: 45px;
	background-color: forestgreen;
	opacity: 0.8;
	position: fixed;
	bottom: 0px;
	text-align: center;
	color: white;
}
}